{{# pc}}
    <div class="detailsL">
        <img class="card-img-top" src="{{imagepath}}">
    </div>
    <div class="detailsR">
        <h1> Thông tin chi tiết sản phẩm</h1> <br>
        <ul>
        <li><h4 class="dc">Model:</h4> {{model}} </li>
        <li><h4 class="dc">CPU:</h4> {{cpu}}</li> 
        <li><h4 class="dc">Ram:</h4> {{ram}}</li>
        <li><h4 class="dc">Storage:</h4> {{storage}}</li>
        <li><h4 class="dc">CD/DVD:</h4> {{cdndvd}}</li>
        <li><h4 class="dc">VGA:</h4> {{vga}}</li>
        <li><h4 class="dc">Monitor:</h4> {{monitor}}</li>
        <li><h4 class="dc">Connection:</h4> {{connection}}</li>
        <li><h4 class="dc">Keyboard:</h4>{{keyboard}}</li>
        <li><h4 class="dc">Tech:</h4> {{tech}}</li>
        <li><h4 class="dc">Weight:</h4> {{weight}}</li>
        <li><h4 class="dc">Battery:</h4> {{battery}}</li>
        <li><h4 class="dc">OS:</h4>{{os}}</li>    
    </ul>
    </div>  
{{/pc}}